.array-container-left{
    border: "5px solid black";
    width: "44%";
    height: "85vh";
    float: 'left';
    margin-left: "5vh";
    position: relative;
}
.array-container-right{
    border: "5px solid black";
    width: "44%";
    height: "85vh";
    float: 'right';
    margin-right: "5vh";
    position: relative;
}
.arrayBars{
    color:black;
    background: gray;
    float: left;
    position:relative;
    top:1%;
    bottom: 10%;
    margin: 1px ;
}
.centerBox:{
    position: "fixed";
    width: "5%";
    height: "10vh";
    z-index: "100";
    margin-left: "47.5%";
    margin-top: "15%";
    text-align: "center";
}